h6.msg {
	margin:10px;
	text-align:right;
	font-weight:bold;
	float:right;
	padding:10px;
}

h6.s {
	color:#00CC00;
	border:#00CC00 1px solid;
	background:#C7F9D3;
}

h6.e {
	color:#FF0000;
	border:#FF0000 1px solid;
	background:#F5D9D9;
}